:host{
    display: block;
    justify-self: end;
    bottom: 0;
    margin-top: auto;
    width: 100%;
}

.mat-footer {
    background-color: #333; 
    color: white;
    justify-content: center;
}

.footer-content {
    font-size: 0.8em;
}